.book-page {
    padding: 50px 30px;

    .navigation {
        display: flex;
        margin: 0 0 30px;

        a {
            text-transform: none;
            text-decoration: none;
            color: #000;
        }
    }

    .book {
        display: flex;
        justify-content: space-between;


        .book-cover {

            img {
                width: 240px;
                margin-bottom: 50px;
            }

            p {
                font-size: 15px;
                line-height: 24px;
            }

            .text-price {
                font-size: 36px;
                line-height: 46px;
            }

            button {
                width: 220px;
                height: 70px;
                display: flex;
                align-items: center;
                border: none;
                background: #000000;
                box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
                color: #fff;
                font-weight: 700;
                padding: 0 30px;
                margin: 20px 0;
                cursor: pointer;

                img {
                    width: auto;
                    margin: 0;
                }

                .black-cart-icon {
                    display: none;
                }

                span {
                    margin-left: 30px;
                }

                &:hover {
                    background: #fff;
                    color: #000;

                    .black-cart-icon {
                        display: block;
                    }

                    .white-cart-icon {
                        display: none;
                    }
                }
            }
        }

        .book-content {
            width: 70%;
            display: flex;
            flex-direction: column;

            .book-details {
                margin-bottom: 30px;

                .title {
                    font-size: 34px;
                    line-height: 34px;
                    margin-bottom: 20px;
                }

                .author {
                    font-size: 15px;
                    line-height: 24px;
                }

                .year {
                    font-size: 15px;
                    line-height: 24px;
                }
            }

            .book-rating {
                display: flex;
                border-top: 1px solid #e6e6e6;
                border-bottom: 1px solid #e6e6e6;
                padding: 18px 0;

                .user {
                    p {
                        font-size: 14px;
                        line-height: 25px;
                    }

                    img {
                        margin: 2px 0;
                        width: 20px;
                    }
                }

                .heart {
                    p {
                        font-size: 14px;
                        line-height: 25px;
                    }

                    img {
                        margin: 2px 0;
                        width: 17px;
                    }
                }

                .rating-box {
                    border-left: 2px solid #EEEEEE;
                    padding-left: 10px;

                    p {
                        font-size: 14px;
                        line-height: 15px;
                    }

                    span {
                        display: flex;
                    }
                }

                .book-type {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    margin-left: 20px;
                    gap: 16px;

                    p {
                        font-size: 14px;
                        line-height: 17px;
                    }
                }

            }

            .book-description {
                padding-top: 30px;

                p {
                    font-size: 15px;
                    line-height: 25px;
                }
            }
        }
    }
}
