@import "./../variables.scss";

.featured {
    background: #fdfdfd;

    .title {
        width: 100%;
        max-width: 1400px;
        margin: auto;
        padding: 0 20px;
        margin-bottom: 10px;

        p {
            width: 100%;
            padding: 1rem 0;
            border-bottom: 1px solid #EEEEEE
        }
    }

    .slider {
        .swiper-container {
            position: relative;

            .slide-item {
                position: relative;
                img {
                    width: 220px;
                    height: 330px;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 30px 30px;
                }

                .slide-item-details {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9), rgb(0, 0, 0));
                    position: absolute;
                    inset: 0px;
                    width: 220px;
                    height: 100%;
                    opacity: 0;
                    padding: 20px;
                    transition: opacity 0.3s ease-in-out 0s;
                    color: white;
                    font-size: 12px;
                    display: flex;
                    flex-direction: column;
                    -webkit-box-pack: justify;
                    justify-content: space-between;

                    .details {
                        .author {
                            .h3 {
                                font-size: 30px;
                                line-height: 40px;
                            }
    
                            .p {
                                font-size: 13px;
                                line-height: 15px;
                            }
                        }

                        .genre {
                            .p {
                                font-size: 13px;
                                line-height: 15px;
                            }
                        }

                        .tags {
                            .p {
                                font-size: 13px;
                                line-height: 15px;
                            }
                        }
                    }
                    .rating {
                        display: flex;
                        height: 50px;
                        .user {
                            p {
                                font-size: 13px;
                                line-height: 25px;
                            }

                            img {
                                width: 20px;
                            }
                        }

                        .heart {
                            p {
                                font-size: 13px;
                                line-height: 25px;
                            }

                            img {
                                width: 17px;
                            }
                        }

                        .rating-box {
                            border-left: 2px solid #EEEEEE;
                            padding-left: 10px;

                            span {
                                display: flex;
                            }
                        }
                    }
                }

                .slide-item-details:hover {
                    opacity: .8;
                }


                // media queries
                @media (max-width: 768px) {
                    img {
                        width: 140px;
                        height: 220px;
                    }

                    .slide-item-details:hover {
                        opacity: 0 !important;
                    }
                }
            }

            .swiper-wrapper {
                padding-top: 20px;
                padding-bottom: 60px;
            }

            .swiper-button-prev {
                background: linear-gradient(180deg, rgba(248, 248, 250, 0.8) 0%, #F8F8FA 51.36%, rgba(248, 248, 250, 0.8) 100%);
                mix-blend-mode: normal;
                opacity: 0.7;
                height: 470px;
                width: 50px;
                top: 0;
                left: 0;
            }

            .swiper-button-next {
                background: linear-gradient(180deg, rgba(248, 248, 250, 0.8) 0%, #F8F8FA 51.36%, rgba(248, 248, 250, 0.8) 100%);
                mix-blend-mode: normal;
                opacity: 0.7;
                height: 470px;
                width: 50px;
                top: 0;
                right: 0;
            }

            .swiper-button-prev::after, .swiper-button-next::after {
                border-top: 5px solid transparent;
                border-right: 8px solid black;
                border-bottom: 5px solid transparent;
                content: "" !important;
            }

            .swiper-button-next::after {
                transform: rotate(-180deg);
            }

            .swiper-pagination-bullet-active {
                background-color: $green !important;
            }

            //media queries
            @media (max-width: 768px) {
                .swiper-button-prev, .swiper-button-next {
                    height: 290px;
                    width: 40px;
                }
            }
        }
    }
}

.books {
    margin-top: 30px;

    .title-head {
        padding: 0 20px;

        p {
            width: 100%;
            padding: 1rem 0;
            border-bottom: 1px solid #EEEEEE
        }
    }

    .lists {
        margin: 0;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        
        a {
            text-decoration: none;
            color: inherit;

            .book {
                height: 180px;
                margin: 20px 20px 20px 0;
                cursor: pointer;

                .book-img {
                    width: 110px;
                    height: 180px;

                    img {
                        width: 110px;
                        height: 100%;
                    }
                }

                .book-info {
                    .author {
                        .title {
                            font-size: 15px;
                            line-height: 20px;
                        }

                        .writer {
                            font-size: 13px;
                            line-height: 15px;
                        }

                        .category {
                            font-size: 13px;
                            line-height: 15px;
                        }
                    }

                    .rating {
                        .user {
                            p {
                                font-size: 13px;
                                line-height: 25px;
                            }

                            img {
                                width: 20px;
                            }
                        }

                        .heart {
                            p {
                                font-size: 13px;
                                line-height: 25px;
                            }

                            img {
                                width: 17px;
                            }
                        }

                        .rating-box {
                            border-left: 2px solid #EEEEEE;
                            padding-left: 10px;

                            .star {
                                display: flex;
                                width: 100%;
                                justify-content: center;
                                overflow: hidden;
                                flex-direction: row-reverse;
                                position: relative;
                            }

                            .star-0 {
                                filter: grayscale(100%);
                            }

                            .star>input {
                                display: none;
                            }

                            .star>label {
                                cursor: pointer;
                                width: 25px;
                                height: 25px;
                                margin-top: auto;
                                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
                                background-repeat: no-repeat;
                                background-position: left;
                                background-size: 76%;
                                transition: .3s;
                            }

                            .star>input:checked~label,
                            .star>input:checked~label~label {
                                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
                            }


                            .star>input:not(:checked)~label:hover,
                            .star>input:not(:checked)~label:hover~label {
                                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
                            }
                        }
                    }

                    .cart {
                        .price {
                            p {
                                font-size: 15px;
                                line-height: 2rem;
                            }
                        }

                        .cart-btn {
                            button {
                                border: none;
                                background: transparent;
                                cursor: pointer;
                                font-weight: 600;
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
            }

            .book:hover {
                box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
            }
        }
    }

    // media query
    @media (max-width: 768px) {
        .lists {
            display: flex;
            flex-direction: column;
        }

        .book {
            margin: 20px 0 !important;
        }

        .cart {
            .price {
                p {
                    font-size: 13px !important;
                    line-height: 15px !important;
                }
            }
        }

        .rating-box {
            span {
                display: flex;
            }
        }
    }

    .empty-search {
        display: flex;
        justify-content: center;
        margin: 30px 0;

        p {
            font-size: 30px;
            line-height: 40px;
        }
    }
}
