.header {
    .container {
        width: 100%;
        max-width: 1400px;
        
        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                color: rgba(170, 170, 170, 1)
            }
        }

        .cart-box {
            cursor: pointer;
        }

        .mobile-search {
            display: none;
        }

        button {
            cursor: pointer;
        }

        // media query
        @media (max-width: 768px) {
            .title {
                h1 {
                    font-size: 15px;
                    line-height: 20px;
                }
                p {
                    display: none;
                }
            }

            .web-search {
                display: none;
            }

            .mobile-search {
                display: flex;
                cursor: pointer;
            }

            .closeBack {
                cursor: pointer;
            }
        }
    }
}