$black: #000000;
$white: #ffffff;
$green: #65C100;
$yellow: #fff3d8;
$darkYellow: #ffd600;
$purple: #7D3FD2;
$lightPurple: #663696;
$wine: #a92887;
$lightBlue: #00b9e4;
$lightGreen: #00a65a;
$lightOrange: #ffa500;
$lightRed: #ff5555;
$lightGray: #e5e5e5;
$lighterPurple: #a040f0;
$brighterPurple: #b5a1cc;
