@import url('https://fonts.googleapis.com/css?family=Ubuntu:light,regular,medium,bold,italic&subset=latin,latin-ext');

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FEFEFE;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  width: 22px;
  background: #65C100;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  font-weight: 400;
  color: #fff;
}
